extends ../temps/mainTemp
append vars 
    -title='mainPage'

append styles 
    link(rel="stylesheet", href="../css/index.css")


append body 
    include ../components/header






    include ../components/footer
append scripts 
    script(src="../js/index.js") 
