-
    let title = 'elzero'
    let navObject 
        ={
            'learn Now':{
                'articles':'art-icon',
                'courses' :'cour-icon',
                'assignments':'ass-icon',
                'examples':'examp-icon',
                'challenges':'chal-icon',
                'problems and solves':'pro-icon',
                'developers tools':'deve-icon'
            }
        }