-
    let title = 'elzero'
    let navObject 
        ={
            'learn Now':{
                'articles':'art-icon',
                'courses' :'cour-icon',
                'assignments':'ass-icon',
                'examples':'examp-icon',
                'challenges':'chal-icon',
                'problems and solves':'pro-icon',
                'developers tools':'deve-icon'
            },
            'roadmaps':{
                'front-end Developer':'f',
                'php back-end developer':'f',
                'full stack developer':'f',
                'python web develper':'f'

            },
            'study plans':{
                'html 2021':'roadmaps',
                'css 2021':'roadmaps',
                'javascript bootcamp':'d',
                'sass 2021':'s',
                'mastering python':'s'
            },
            'others':{
                'questions and answers text':'roadmaps',
                'questions and answers video':'l',
                'elzero week':'',
                'other videos':'f',
                'elzero advices':'sd',
                'books':'s'
            }
        }

    let roadmapSectionIndex= {
        '../img/frontend-track.svg':[
            'front-end developer'
        ],
        '../img/fullstack.img':[
            'full stack Developer'
        ],
        '../img/python.img':[
            'python web developer'
        ]
    }

    let frontEndSectionIndex ={
         '../img/animated':[
             'animated wavy background'
         ],
        '../img/mix blend':[
            'mix blend loading'
        ],
        '../img/burger icon':[
            'burger icon transform effects'
        ]
       
    }
    let latestArticleSectionIndex={
        '../img/':[
            'creat designs by frameworks and ui kits','creat designs by frameworks and ui kits'
        ],
        '../img':[
            'how i will be good in front-end','how i will be good in front-end'
        ],
        '../img':[
            'advantages of working on more than one monitor','advantages of working on more than one monitor'
        ]
    }
    randomArticlesSectionIndex={
        '../img':[
            'how to began','how to begain'
        ],
        '../img/':[
            'ten causes make you fail in programming','ten causes make you fail in programming'
        ],
        '../img/':[
            'how to be javascript dragon','how to be javascript dragon'
        ]

    }
    let featuresSectionIndex={
        '../img':[
            'practice applications','practice applications'
        ],
        '../img':[
            'new ideas','new ideas'
        ]
    }